body {
  font-family: 'Arial', sans-serif;
  background-color: #f0f0f0;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin: 0;
}

.property {
  background: linear-gradient(135deg, #ff7e5f, #feb47b);
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  max-width: 800px; /* Adjusted for wider content */
  text-align: center;
  margin: 2px auto;
  width: 1000px;
}

.property h1 {
  color: #fff;
  font-size: 1em;
  margin: 0;
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.4);
  font-family: 'Trebuchet MS', sans-serif;
  background: -webkit-linear-gradient(#ff7e5f, #feb47b);
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
